div
{
	border:1px solid black;
	position:absolute;
	padding:7px;
	background:yellow;
	border-radius:4px;
	animation: myfirst 5s;
	-webkit-animation: myfirst 5s; /* Safari and Chrome */
}
@keyframes myfirst
{
from {background: red;}
to {background: yellow;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {background: red;}
to {background: yellow;}
}